@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --offset: 2px;
}

body {
    background-color: black;
    color: white;
}

@layer utilities {
    .scrollbar-none::-webkit-scrollbar {
        scrollbar-width: none;
    }

    .scrollbar-primary::-webkit-scrollbar {
        width: 5px;
    }

    .scrollbar-primary::-webkit-scrollbar-thumb {
        background: rgb(35, 35, 35);
        border-radius: 100vh;
    }

    .scrollbar-secondary::-webkit-scrollbar {
        width: 0%;
    }

    .scrollbar-secondary:hover::-webkit-scrollbar {
        width: 5px;
    }

    .scrollbar-secondary::-webkit-scrollbar-thumb {
        background: rgb(35, 35, 35);
        border-radius: 100vh;
    }

    .animated-border::before {
        background: radial-gradient(red, transparent 70%);
        top: calc(0px + var(--offset));
        left: calc(0px + var(--offset));
        @apply absolute content-[''] w-[50%] rounded-full aspect-square z-[-2] animate-border-spin
    }

    .animated-border::after {
        inset: var(--offset);
        height: calc(100% -2 * var(--offset));
        width: calc(100% -2 * var(--offset));
        @apply absolute content-[''] bg-inherit rounded-[inherit] z-[-1]
    }
}